#loginModal.modal.fade(role="dialog",aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      h4.modal-title 登录
      label(for="username1") 昵称
        input#username1(type="text", name="username1", value="")
      label(for="password1") 密码
        input#password1(type="password", name="password1" value="")
      button.btn(type="button", data-dismiss="modal") 登录

