#myBottleModal.modal.fade(role="dialog",aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      h4.modal-title 我的瓶子
      ul#myBottleList
      button.btn(type="button", data-dismiss="modal") 确定