#pickModal.modal.fade(role="dialog",aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      h4.modal-title 捞瓶子
      div 姓名:
      div#pickName
      div 内容：
      div#pickContent
      div 时间：
      div#pickTime
      button.btn(type="button", data-dismiss="modal") 扔回去
