#throwModal.modal.fade(role="dialog",aria-labelledby="myModalLabel")
  .modal-dialog(role="document")
    .modal-content
      h4.modal-title 扔瓶子
      textarea#content(cols=70, rows=5)
      button.btn(type="button", data-dismiss="modal") 扔出去

